{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>DIAG-DB</title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>

<body>

    <div class="sidebar">

        <div class="logo">

            <h1>DIAG-DB</h1>

            <span>
                Sistema de Diagnóstico
            </span>

        </div>

        <nav>

            <a href="/">Dashboard</a>

            <a href="/hardware/">
                Hardware
            </a>

            <a href="/network/">
                Network
            </a>

            <a href="/system/">
                Sistema
            </a>

            <a href="/processes/">
                Processos
            </a>

            <a href="/relatorios/">
                Relatórios
            </a>

        </nav>

    </div>

    <div class="main-content">

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>